.post{
 display: flex;
 align-items: flex-start;
 border-bottom: 1px solid var(--twitter-background);
 padding-bottom: 10px;
}

.post_body {
    float: 1;
    padding: 10px;
}
.post_avatar{
    padding: 20px;
}

.post_header_Text > h3{
    font-size: 15px;
    margin-bottom: 5px;
}
.post_body > img{
    border-radius: 20px;
width:170%
}
.post_footer{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    width:170%

}

.badge{
    font-size: 14px !important;
    color:var(--twitter-color);
}
.header-special {
    font-weight: 600;
    font-size: 12px;
    color:grey;
}